body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

*[wait] {
  cursor:wait
}

/* cursor:pointer; 或 cursor:hand; 手型   
cursor:crosshair; 十字   
cursor:text; 文本   
cursor:wait; 等待   
cursor:help; 问号   
cursor:e-resize;e 右的箭头   
cursor:ne-resize; 右上的箭头   
cursor:n-resize; 上的箭头   
cursor:nw-resize; 左上的箭头   
cursor:w-resize; 左的箭头   
cursor:sw-resize; 左下的箭头   
cursor:s-resize; 下的箭头   
cursor:se-resize; 右下的箭头   
cursor:move; 移动  */